
<!--input type="text" (keyup)="onNameKeyUp($event)"-->

<div class="container bg-light text-dark">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-weight:bold">Staff list<button (click)="getProfile()" class="btn-info" style="float:right">Refresh</button></div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Addess</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let staff of staffs" (click)="onSelect(hero)">
                    <td>{{staff.name}}</td>
                    <td>{{staff.age}}</td>
                    <td>{{staff.address}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading" style="font-weight:bold">Form</div>
            <div class="panel-body">
              
              <form action="" method="POST" role="form">
                <legend>Form </legend>

                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="name">Age</label>
                  <input type="number" class="form-control" id="age" placeholder="Enter age" min="1" max="150" value="20">
                  </div>
                <div class="form-group">
                  <label for="name">Address</label>
                  <input type="text" class="form-control" id="address" placeholder="Enter address">
                </div>
                      
                <button type="button" class="btn btn-primary" (click)="sendProfile()">Test Post</button>
              </form>
              
            </div>
          </div>
    </div>
  </div>
</div>